.blockTasks {
  width: 100%;
  background-color: #eeeeee;
  padding: 0.9rem 1.6rem;
  margin: 1.3rem 0 0;

  .subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    margin: 1.3rem 0;
  }

  .blockPlates {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    .plug {
      font-size: 1.5rem;
      font-weight: 700;
      color: rgb(105, 105, 212);
    }
  }
}
