.blockTasks {
  width: 100%;
  background-color: #eeeeee;
  padding: 15px 25px;
  margin: 20px 0 0;

  .subtitle {
    font-size: 35px;
    font-weight: 500;
    margin: 20px 0;
  }

  .blockPlates {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
