.plate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 15px;

  .taskTitle {
    font-weight: 700;
  }

  .block {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
