@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 15px;
  background: linear-gradient(to right, #d6e4f0, #b1bfd6);
  color: black;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  width: auto;
}
